.App {
  text-align: center;
  background-color: black;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Source Sans Pro', arial, sans-serif;
}

.contact-us {
  color: rgb(210, 47, 37);
}

.details {
  font-size: 18px;
  color: rgb(145, 145, 145);
  line-height: 1.5;
}

.marquee-text {
  font-size: 18px;
  color: rgb(145, 145, 145);
  line-height: 1.5;
}

.hr {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  text-transform: none;
  overflow-wrap: break-word;
  color: rgb(210, 47, 37);
  font-weight: 400;
  text-align: center;
  line-height: 0px;
  box-sizing: content-box;
  height: 0;
  border: 0;
  margin-bottom: 0;
  border-style: solid;
  font-family: 'League Spartan', arial, helvetica, sans-serif;
  border-color: rgb(27, 27, 27);
  border-bottom-width: 2px;
  margin-top: 24px;
  width: 50px;
  display: inline-block;
  font-size: 48px;
}

.copy {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  text-transform: none;
  font-family: 'Source Sans Pro', arial, sans-serif;
  overflow-wrap: break-word;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(150, 150, 150);
  text-align: left;
  font-size: 16px;
  box-sizing: inherit;
  float: left;
}

/* .videoTag {
  width: 26%;
} */